.image-container {
  position: relative;
}

.horizontal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.vertical-container {
  display: flex;
  height: 85vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes snapIn {
  to {
    opacity: 1;
  }
}

.textbox {
  animation: snapIn 1.5s steps(1, end) forwards;
  opacity: 0;
  position: absolute;
  width: 500;
  height: auto;
  z-index: 2;
}

.background {
  animation: fadeIn 1s ease-in-out forwards;
  opacity: 0;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
  width: 500;
  height: auto;
}