.emma-sprite {
  height: 15%;
  width: auto;
  position: absolute;
}

.sprite-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  z-index: 10;

  width: 100%;
  height: 100%;
}
