.horizontal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.vertical-container {
  display: flex;
  height: 85vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centre-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

button {
  background-color: rgb(83, 126, 236);
  color: white;
  padding: 14px 30px;
  margin: 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  display: inline-block;
  transition: all 0.2s ease;
}

button:hover {
  background-color: white;
  color: rgb(83, 126, 236);
  transform: scale(1.05);
}